#vizDiv {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 5px solid skyblue;
}

#vizDiv2 {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 10px;
    border: 5px solid teal;
}

#vizDiv3 {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 5px solid green;
}

#vizDiv4 {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 10px;
    border: 5px solid darkgreen;
}

.inspirer {
    float: left;
    width: 50%;
    text-align: center;
}

/*
.float_center {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}
*/
